frontend.build:
  stage: build
  dependencies: []
  rules:
    - changes:
        - tests-e2e/**/*
        - frontend/**/*
        - api/**/*
        - output-worker/**/*
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/library/node:$NODE_VERSION
  variables:
    # API endpoint for E2E tests - must match the port used in tests-e2e/.gitlab-ci.yml
    VITE_API_ENDPOINT: "http://localhost:8081/api/v1"
  script:
    - pushd frontend/
    - npm ci
    - npm run build
  artifacts:
    name: "$CI_BUILD_NAME"
    paths:
      - frontend/node_modules/
      - frontend/dist/

frontend.check:
  stage: test
  dependencies:
    - frontend.build
  rules:
    - changes:
        - frontend/**/*
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/library/node:$NODE_VERSION
  script:
    - pushd frontend/
    - npm run check
    - npm run lint
