api-integration-tests.build:
  extends: .rust-cache-pull-push
  stage: build
  dependencies: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/library/rust:$RUST_VERSION
  rules:
    - changes:
        - tests-api-integrations/**/*
        - tests-e2e/**/*
        - api/**/*
        - frontend/**/*
        - output-worker/**/*
        - Cargo.*
  before_script:
    - rustc --version && cargo --version
    - wget -O protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v$PROTOC_VERSION/protoc-$PROTOC_VERSION-linux-x86_64.zip && mkdir protoc && unzip protoc.zip -d protoc/
    - export PROTOC="$(realpath ./protoc/bin/protoc)"
  script:
    - cargo build --release --no-default-features -F application-secret-compatibility
  artifacts:
    paths:
      - target/release/hook0-api
      - target/release/hook0-output-worker

api-integration-tests.test:
  stage: test
  dependencies:
    - api-integration-tests.build
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/library/node:$NODE_VERSION
  rules:
    - changes:
        - tests-api-integrations/**/*
        - api/**/*
        - output-worker/**/*
        - Cargo.*
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/library/postgres:$PG_VERSION
      alias: postgres
    - name: mailhog/mailhog:latest
      alias: mailhog
  variables:
    ## postgres
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    ## api integration tests variables
    API_ORIGIN: 'http://localhost:8080'
    SERVICE_TOKEN: '00000000-0000-0000-0000-000000000000'
    TARGET_URL: 'http://localhost:3000'
    ORGANIZATION_ID: '00000000-0000-0000-0000-000000000000'
    VUS: 1
    ITERATIONS: 1
    DURATION: '1m'
    ENABLE_SETUP: true
    ## API variables
    MASTER_API_KEY: '00000000-0000-0000-0000-000000000000'
    BISCUIT_PRIVATE_KEY: 'bee97db5398b2694cc2362918a2d9eed117b70f036e224407085ccb6800028fc'
    DATABASE_URL: 'postgres://postgres:postgres@postgres:5432/postgres'
    EMAIL_SENDER_ADDRESS: 'support@hook0.com'
    SMTP_CONNECTION_URL: 'smtp://mailhog:1025'
    APP_URL: 'http://localhost:8080/'
    DISABLE_SERVING_WEBAPP: true
    DISABLE_TARGET_IP_CHECK: true
  before_script:
    - apt-get update && apt-get install gnupg ca-certificates -y
    - curl --silent --fail --location https://dl.k6.io/key.gpg | gpg --dearmor | tee /usr/share/keyrings/k6-archive-keyring.gpg
    - echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | tee /etc/apt/sources.list.d/k6.list
    - apt-get update && apt-get install k6 -y
  script:
    - pushd tests-api-integrations
    - npm ci
    - npm run check
    - npm run test
