variables:
  PG_VERSION: "15"
  RUST_VERSION: "1.73"
  NODE_VERSION: "18"
  POSTGRES_DB: hook0-ci
  POSTGRES_USER: runner
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: trust



stages:
  - build
  - test
  - release
  - dast
  - documentation

include:
  - template: SAST.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml
  - template: Jobs/Container-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - local: 'api/.gitlab-ci.yml'
  - local: 'clients/rust/.gitlab-ci.yml'
  - local: 'frontend/.gitlab-ci.yml'
  - local: 'output-worker/.gitlab-ci.yml'
  - local: 'sentry-integration/.gitlab-ci.yml'
  - local: 'website/.gitlab-ci.yml'
  - local: 'keycloak-theme/.gitlab-ci.yml'

osv_dependency_scan:
  services:
    - docker:dind
  image: docker:dind
  stage: test
  allow_failure: true
  script:
    - docker run -v $(pwd):/app -i ghcr.io/google/osv-scanner:v1.3.6 --recursive /app

dast:
  stage: dast
  dast_configuration:
    site_profile: "REST API v1"
    scanner_profile: "DAST"
