# PaaS
/.clever.json

# secrets
.envrc
.env

# js/nodejs
node_modules

# rust
/target/
/api/target/
/output-worker/target/

# ide
.idea
api/.clever.json

# docker-compose
.data


# docs
/build
.docusaurus
.DS_Store
