<div class="relative overflow-hidden">
    <header class="relative">
        <div class="bg-gray-900 pt-6 pb-2">
            <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
                <div class="flex items-center flex-1">
                    <div class="hidden space-x-8 md:flex md:ml-2">
                        <a class="flex-shrink-0 text-white flex bg-white px-4 rounded-full" href="/">
                            <img src="./mediakit/logo/110x110-white.png" alt="Hook0 logo" class="h-6"/>
                            <span class="ml-2 text-black">Hook0</span>
                        </a>

                        <a href="./index.ejs#how-it-works" class="text-base font-medium text-white hover:text-gray-300">How
                            it works</a>

                        <a href="./index.ejs#features" class="text-base font-medium text-white hover:text-gray-300">Features</a>

                        <a href="./index.ejs#pricing" class="text-base font-medium text-white hover:text-gray-300">Pricing</a>
                        <a href="https://documentation.hook0.com/" target="_blank"
                           class="text-base font-medium text-white hover:text-gray-300">Documentation</a>

                        <a href="<%= locals.meta.contact %>"
                           class="text-base font-medium text-white hover:text-gray-300">Contact</a>
                    </div>
                </div>
                <div class="hidden md:flex md:items-center md:space-x-6">
                    <% /*                                                                                                                                                  %>
                    <a href="<%=                                                                                                                                                  locals.meta.login                                                                                                                                                  %>"
                       class="text-base font-medium text-white hover:text-gray-300">
                        Log in
                    </a>
                    <%                                                                                                                                                  */ %>
                    <a href="<%= locals.meta.login %>"
                       class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700">
                        Log in
                    </a>
                </div>
            </nav>
        </div>
    </header>
</div>

