<div class="mx-auto max-w-7xl lg:px-8">
    <%- include ('./_nav.ejs') %>
    <style lang="scss">
      .globalNavContainer {
        @apply mx-auto max-w-7xl lg:px-8 relative;
      }
    </style>
</div>
