
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hook0 - Built to Last</title>
    <%- include('./includes/_head.ejs') %>
</head>
<body>
<%- include('./includes/_header.ejs') %>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose prose prose-lg mx-auto">
            <div>
                <div class="section haze wf-section">
                    <div class="wrapper">
                        <div class="intro">
                            <h1 class="text-4xl font-bold">Built to Last</h1>
                        </div>
                        <div class="w-layout-grid main-grid">
                            <div class="text-base">
                                <p>We believe in building software that lasts. To us, it is sad to consider that in the Information Age, the chances are that all information will probably not be there tomorrow. The software that enables all of our thoughts and dreams is now built to such a low standard and at such breakneck speeds and aimed at such ludicrous commercial interests, that its very survivability is in question. </p>
                                <p>Our passion is to prove information doesn't have to be this way. Our revolutionary, paradigm-shifting 21st-century business plan is to keep your information ready for the 22nd century. The notes you write now should be there for you in a 100 years. That's our killer app.</p>
                                <p>And this is how our applications will survive the apocalypse.</p>
                                <ol>
                                    <li><strong>We are complexity bigots.</strong> We don’t merely hate complexity in software—we detest it. Fussy code decreases its durability. It forces users to alter habits for no reason. Clutter makes code obsolete before it's finished and it makes it impossible to adapt. Complexity creates user problems, it introduces bugs, and decreases performance. It's also expensive. Simplicity is the one and only future.</li>
                                    <li><strong>We say no to most feature requests.</strong> We love our customers. We would do most anything for them. But we don’t do everything for them. Including many feature requests. You pay us to create software that you can depend on. Our job is to find the features that meet that standard. And exclude those that don't. We work hard to pick the features we roll into our core experience. And we are fussier about which features we leave out. The best upgrade is the one not done, in our view.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<%- include('./includes/_footer.ejs') %>

</body>
</html>
