<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hook0 - GDPR Subprocessors</title>
    <%- include ('./_head.ejs') %>
</head>
<body>
<%- include ('./_header.ejs') %>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose prose prose-lg mx-auto">
            <h1>
                <span class="block text-base text-center text-green-600 font-semibold tracking-wide uppercase">What are your sub-processors, as defined by the GDPR?</span>
            </h1>

            <div>


                <div class="section haze wf-section">
                    <div class="wrapper">
                        <div class="intro">
                            <div class="text-label">Last Update: November 14th, 2021</div>
                            <div class="divider"></div>
                        </div>
                        <div class="w-layout-grid main-grid">
                            <div class="text-default">
                                <p>Hook0 uses certain sub-processors to
                                    assist it in providing to its customers the Application Services as described in
                                    the Master Services Agreement or Terms of Use available at <a
                                            href="terms.ejs">terms-of-service</a> or such other location as
                                    the Terms of Use may be posted from time to time (as applicable, the
                                    “Agreement”). Defined terms used herein shall have the same meaning as defined
                                    in the Agreement.</p>
                                <p>A subprocessor is a third party data processor engaged by Hook0, including
                                    entities from within the Hook0 group, who has or potentially will have
                                    access to or process Customer Content (which may contain Personal Data).
                                    Hook0 engages different types of subprocessors to perform various
                                    functions as explained in the tables below.</p>
                                <p>Infrastructure: We use the following subprocessors to provide our cloud
                                    infrastructure environment and storage of our Customer Content:</p>

                                <style>
                                    table {
                                        width: 100%
                                    }

                                    table td,
                                    table th {
                                        border: 1px solid #ccc;
                                        padding: 15px;
                                        padding-left:10px !important;
                                    }

                                    table th {
                                        background-color: #7d8998;
                                        color: #fff
                                    }
                                </style>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Subprocessor</th>
                                        <th>Country of processing</th>
                                        <th>Purpose</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>CleverCloud SAS</td>
                                        <td>France, Europe</td>
                                        <td>Hook0 customer database, API and web application</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>Processing of Customer Content: We work with
                                    various subprocessors that monitor, maintain and otherwise support the
                                    Application Services. In order to provide this functionality these subprocessors
                                    may, but not necessarily will, have access to Customer Content:</p>
                                <p>* Note, the list of subprocessors applies to any
                                    new Hook0 customers as of that date, or existing Hook0 customers
                                    who have not otherwise received notice of a different effective date of this
                                    list.</p>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Subprocessor</th>
                                        <th>Country</th>
                                        <th>Purpose</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>CleverCloud SAS</td>
                                        <td>France, Europe</td>
                                        <td>Workers that calls the webhook subscription endpoints</td>
                                    </tr>
                                    <tr>
                                        <td>Stripe Inc.</td>
                                        <td>USA</td>
                                        <td>Hook0's customer subscription management</td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<%- include ('./_footer.ejs') %>

</body>
</html>
