<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hook0 Privacy Policy</title>
    <%- include ('./_head.ejs') %>
</head>
<body>
<%- include ('./_header.ejs') %>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose prose prose-lg mx-auto">
            <h1>
                <span class="block text-base text-center text-green-600 font-semibold tracking-wide uppercase">Privacy Policy</span>
            </h1>

            <div class='privacy'>


                <ul role="list">
                    <li>Hook0 started life as a way to open-source the internal webhook management services from
                        François-Guillaume Ribreau and David Sferruzza successive SaaS and stop writing again and again
                        somewhat the same code.
                    </li>
                    <li>We do not share user data with third parties under any circumstances.</li>
                    <li>All revenue comes from paid subscriptions, removing the need for any type of tracking.</li>
                    <li>Hook0 does not store your payment information. Payment is handled through Stripe, but if you are
                        uncomfortable using those services, alternative arrangements are available.
                    </li>
                    <li>Hook0 earns all of its revenue through user subscriptions, and has no business relationship with
                        large surveillance-based platforms like Facebook, Amazon or Google.
                    </li>
                    <li>If there is a privacy breach, we promise to disclose it as soon as possible on the <a
                                href='https://twitter.com/hook0_'>Twitter</a> account.
                    </li>
                    <li>If you choose to delete your account, all your data will be removed after a 30-day waiting
                        period.
                    </li>
                    <li>If you spot a privacy leak, please report it to <a href="mailto:support@hook0.com">support@hook0.com</a>.
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<%- include ('./_footer.ejs') %>

</body>
</html>
