@tailwind base;
@tailwind components;
@tailwind utilities;

div.privacy {
  @apply mt-6 prose prose-green prose-lg text-gray-500 mx-auto;
}

.card a {
  @apply text-base font-medium text-yellow-700 hover:text-yellow-500;
}

.primary-feature {
  @apply card flex-1 md:px-8 pb-6 pt-16 px-6 relative;
}

.primary-feature-icon {
  @apply -translate-y-1/2 absolute bg-indigo-500 inline-block p-5 rounded-xl shadow-lg top-0 transform;
}

abbr {
  cursor: help;
}
