<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hook0 - Subscription error</title>
    <%- include ('./_head.ejs') %>
</head>
<body>
<%- include ('./_header.ejs') %>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose prose prose-lg mx-auto">
            <h1>
                <span class="block text-base text-center text-yellow-600 font-semibold tracking-wide uppercase">Oooooops an error occurred</span>
            </h1>

            <p>

                An error occurred while processing your subscription or your asked for cancelling it.
                If you had an issue please contact me at <a
                        href="mailto:support@hook0.com">support@hook0.com</a>.

            </p>

        </div>

    </div>
</div>

<%- include ('./_footer.ejs') %>

</body>
</html>
