<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hook0 - Subscription success</title>
    <%- include ('./_head.ejs') %>
</head>
<body>
<%- include ('./_header.ejs') %>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose prose prose-lg mx-auto">
            <h1>
                <span class="block text-center text-yellow-600 font-semibold tracking-wide uppercase">🙌 You are good to go!</span>
            </h1>

            <p>
                Thanks for subscribing!
                Your account is now active.
            </p>
        </div>

    </div>
</div>

<%- include ('./_footer.ejs') %>

</body>
</html>
