sentry_integration.check:
  extends: .rust-cache-pull-only
  stage: test
  dependencies: []
  image: rust:$RUST_VERSION
  rules:
    - changes:
        - sentry-integration/**/*
        - Cargo.*
  before_script:
    - rustc --version && cargo --version
    - rustup component add clippy
    - rustup component add rustfmt
  script:
    - pushd sentry-integration
    - cargo fmt --all -- --check
    - cargo clippy --all-targets --all-features -- -D warnings
    - cargo test
