client.rust.check:
  extends: .rust-cache-pull-only
  stage: test
  dependencies: []
  image: rust:$RUST_VERSION
  rules:
    - if: $CI_COMMIT_TAG =~ /^sdk-v\d+\.\d+\.\d+$/
    - changes:
        - clients/rust/**/*
        - Cargo.*
  before_script:
    - rustc --version && cargo --version
    - rustup component add clippy
    - rustup component add rustfmt
  script:
    - pushd clients/rust
    - cargo fmt --all -- --check
    - cargo clippy --all-targets --all-features -- -D warnings
    - cargo test --all-targets --all-features
    - cargo clippy --all-targets --no-default-features --features consumer -- -D warnings
    - cargo test --all-targets --no-default-features --features consumer
    - cargo clippy --all-targets --no-default-features --features producer -- -D warnings
    - cargo test --all-targets --no-default-features --features producer

