{
  "branches": ["master", "add-sementic-release-sdk"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "breaking": true,
            "scope": "clients.typescript",
            "release": "major"
          },
          {
            "type": "feat",
            "scope": "clients.typescript",
            "release": "minor"
          },
          {
            "type": "fix",
            "scope": "clients.typescript",
            "release": "patch"
          },
          {
            "release": false
          }
        ],
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features",
              "scope": "clients.typescript",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "Bug Fixes",
              "scope": "clients.typescript",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Chores",
              "scope": "clients.typescript",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Docs",
              "scope": "clients.typescript",
              "hidden": false
            }
          ]
        },
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
        },
        "writerOpts": {
          "commitsSort": ["subject", "scope"]
        }
      }
    ],
    ["@semantic-release/changelog", { "changelogFile": "docs/CHANGELOG.md" }],
    [
      "@semantic-release/git",
      {
        "assets": ["docs/CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
