<div class="relative overflow-hidden">
    <section class="lg:px-8 max-w-7xl mx-auto">
        <div class="px-4 py-20 text-center sm:px-6 lg:px-8 lg:py-28">
            <div class="container relative z-10"><h2 class="text-4xl text-black text-center leading-tight md:text-3xl">
                    Ready to send your first webhook?</h2>

                <div class="gap-4 grid grid-cols-1 lg:grid-cols-2 m-4 sm:grid-cols-2">
                    <div class="flex flex-col items-center rounded-[20px] bg-gray-50 pt-6 pb-8 px-6 rounded-lg">
                        <h3 class="text-3xl text-black font-medium leading-snug sm:text-2xl">Self-Hosted</h3>
                        <p class="mt-3 mb-7 text-center font-book leading-snug text-gray-9 sm:mb-5 sm:text-base">Run
                            locally with docker-compose</p>
                        <a
                                class="inline-flex items-center justify-center !leading-none text-center whitespace-nowrap rounded transition-[colors, opacity] duration-200 outline-none uppercase font-medium h-12 px-6 text-sm bg-transparent text-black border border-gray-5 hover:bg-gray-4 hover:border-gray-4 mt-auto sm:h-10 sm:text-xs"
                                href="https://documentation.hook0.com/docs/docker-compose" target="_blank" onclick="trackEvent('CTA', 'Click', 'cta-selfhosted-docs')">Read Docs</a>
                    </div>
                    <div class="flex flex-col items-center rounded-[20px] bg-gray-50 pt-6 pb-8 px-6 rounded-lg">
                        <h3 class="text-3xl text-black font-medium leading-snug sm:text-2xl">Cloud</h3>
                        <p class="mt-3 mb-7 text-center leading-snug text-black sm:mb-5 sm:text-base">Use our free
                            managed service</p>
                        <a
                                class="bg-green-500 border border-transparent duration-200 font-medium h-12 bg-green-500 flex focus:ring-2 focus:ring-green-300 focus:ring-offset-2 focus:ring-offset-gray-900 hover:bg-green-700 items-center justify-center px-6 rounded-md text-white"
                                href="https://app.hook0.com/register" target="_blank" rel="noopener noreferrer" onclick="trackEvent('CTA', 'Click', 'Get Started')">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
