<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
            <div class="mx-auto w-full max-w-xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900">Trusted by the most innovative teams</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">These teams chose Hook0 over competitors because Hook0 is the only fully open-source project that also offers production-ready SaaS support. They gain a competitive advantage by embracing extensibility, reversibility, and future-proofness in their integration strategies.</p>
            </div>
            <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
                <img class="max-h-12 w-full object-contain object-center" src="./customers/adobe.svg" alt="Adobe" width="158" height="48" />
                <img class="max-h-12 w-full object-contain object-center" src="./customers/atandt.svg" alt="AT&T" width="158" height="48" />
                <img class="max-h-12 w-full object-contain object-center" src="./customers/ibm.svg" alt="IBM" width="158" height="48" />
                <img class="max-h-12 w-full object-contain object-center" src="./customers/zoom.svg" alt="Zoom" width="158" height="48" />
                <img class="max-h-12 w-full object-contain object-center" src="./customers/tui.svg" alt="TUI" width="158" height="48" />
                <img class="max-h-12 w-full object-contain object-center" src="./customers/linkedin.svg" alt="LinkedIn" width="158" height="48" />
            </div>
        </div>
    </div>
</div>
