<div class="flex flex-col items-center justify-center px-6 pb-20 bg-white text-gray-900">
  <div class="max-w-7xl w-full bg-blue-900 text-white p-8 rounded-xl shadow-lg text-center">
    <h2 class="text-3xl font-extrabold">Effortless Webhook Management</h2>
    <p class="text-lg font-mono mt-2">Gain full control of your webhooks with Hook0's intuitive and scalable dashboard.</p>
    <div class="mt-6 flex justify-center space-x-6">
      <a class="inline-flex items-center justify-center rounded-lg bg-blue-600 hover:bg-blue-500 px-8 py-4 text-lg font-semibold shadow-lg text-white" href="https://app.hook0.com/signup">Get Started for free</a>
      <a class="inline-flex items-center justify-center rounded-lg border border-white text-white hover:bg-white/20 px-8 py-4 text-lg font-semibold shadow-lg" href="https://documentation.hook0.com/">Read the docs</a>
    </div>
  </div>
  <div class="max-w-7xl w-full grid grid-cols-1 md:grid-cols-3 gap-8 mt-16">
    <div class="rounded-xl bg-white p-8 shadow-lg">
      <%- include('../svg/smiley.svg') %>
      <h3 class="text-xl font-semibold">A great experience for your customers</h3>
      <p class="text-gray-500 mt-4">Hook0 makes it easy for your customers to integrate and consume your webhooks.</p>
    </div>
    <div class="rounded-xl bg-white p-8 shadow-lg">
      <%- include('../svg/stopwatch.svg') %>
      <h3 class="text-xl font-semibold">Fast time to market and no ongoing maintenance</h3>
      <p class="text-gray-500 mt-4">Integrate in a few days, and never worry about webhooks ever again.</p>
    </div>
    <div class="rounded-xl bg-white p-8 shadow-lg">
      <%- include('../svg/rocket.svg') %>
      <h3 class="text-xl font-semibold">A solution that grows with you</h3>
      <p class="text-gray-500 mt-4">The Hook0 solution automatically scales from zero to billions of webhooks.</p>
    </div>
  </div>
  <div class="max-w-7xl w-full p-8 mt-16 rounded-xl shadow-lg bg-gray-50">
    <h3 class="text-2xl font-semibold text-black">Streamlined webhooks management</h3>
    <p class="text-gray-500 mt-4">Offer your customers full control with one line of code by embedding the webhooks consumer application portal in your dashboard, or use our SDKs to build your own management UI.</p>
    <div class="mt-6 flex justify-center">
      <img alt="Hook0 Customer Portal" loading="lazy" class="rounded-lg shadow-lg w-full max-w-5xl border-4 border-indigo-400" src="./mediakit/screenshots/hook0-portal.png">
    </div>
  </div>
</div>
