documentation.build:
  stage: build
  image: node:${NODE_VERSION}
  cache:
    key: ${CI_COMMIT_REF_SLUG}-docs
    paths:
      - documentation/node_modules/
      - documentation/.npm/
  before_script:
    - cd documentation
    - npm config set cache .npm --global
    - npm ci --prefer-offline --no-audit
  script:
    - npm run build
  artifacts:
    paths:
      - documentation/build/
    expire_in: 1 week
  rules:
    - changes:
        - documentation/**/*

pages:
  stage: release
  image: alpine:3.23
  needs:
    - documentation.build
  script:
    - mkdir -p public
    - cp -r documentation/build/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - documentation/**/*
  environment:
    name: production
    url: https://hook0.gitlab.io/hook0
