include:
  - component: $CI_SERVER_HOST/CleverCloud/clever-cloud-pipeline/deploy-to-prod@2.0.3
    inputs:
      stage: release
      environment: staging
      step_name: deploy api to staging
      app_id: $CLEVERCLOUD_STAGING_APP_ID
      when: manual
  - component: $CI_SERVER_HOST/CleverCloud/clever-cloud-pipeline/deploy-to-prod@2.0.3
    inputs:
      stage: release
      environment: production
      step_name: deploy api to production
      app_id: $CLEVERCLOUD_PRODUCTION_APP_ID
      when: manual


api.check:
  extends: .rust-cache-pull-push
  stage: test
  dependencies: []
  image: rust:$RUST_VERSION
  rules:
    # Always run on release tags (including pre-releases)
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-(?:alpha|beta|rc)(?:\.\d+)?)?$/
    - changes:
        - api/**/*
        - sentry-integration/**/*
        - clients/rust/**/*
        - Cargo.*
  variables:
    SQLX_OFFLINE: "true"
  services:
    - postgres:$PG_VERSION
  before_script:
    - rustc --version && cargo --version
    - rustup component add clippy
    - rustup component add rustfmt
    - wget -O protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v$PROTOC_VERSION/protoc-$PROTOC_VERSION-linux-x86_64.zip && mkdir protoc && unzip protoc.zip -d protoc/
    - export PROTOC="$(realpath ./protoc/bin/protoc)"

  script:
    - pushd api
    - cargo fmt --all -- --check
    - cargo clippy --all-targets --all-features -- -D warnings
    - cargo test

api.documentation:
  stage: documentation
  dependencies: []
  environment:
    name: production-api
    url: https://app.hook0.com/api/v1
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - api/**/*
        - Cargo.*
  image: node:$NODE_VERSION
  script:
    - npx --yes rdme@9.2.2 openapi --id=${README_IO_ID} --key=${README_IO_KEY} --update https://app.hook0.com/api/v1/swagger.json
