include:
  - component: $CI_SERVER_HOST/CleverCloud/clever-cloud-pipeline/deploy-to-prod@2.0.3
    inputs:
      stage: release
      environment: staging
      step_name: deploy api to staging
      app_id: $CLEVERCLOUD_STAGING_APP_ID
      when: manual
  - component: $CI_SERVER_HOST/CleverCloud/clever-cloud-pipeline/deploy-to-prod@2.0.3
    inputs:
      stage: release
      environment: production
      step_name: deploy api to production
      app_id: $CLEVERCLOUD_PRODUCTION_APP_ID
      when: manual


api.check:
  extends: .rust-cache-pull-push
  stage: test
  dependencies: []
  image: rust:$RUST_VERSION
  rules:
    # Always run on release tags (including pre-releases)
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-(?:alpha|beta|rc)(?:\.\d+)?)?$/
    - changes:
        - api/**/*
        - sentry-integration/**/*
        - clients/rust/**/*
        - Cargo.*
  variables:
    SQLX_OFFLINE: "true"
  before_script:
    - rustc --version && cargo --version
    - rustup component add clippy
    - rustup component add rustfmt
    - wget -O protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v$PROTOC_VERSION/protoc-$PROTOC_VERSION-linux-x86_64.zip && mkdir protoc && unzip protoc.zip -d protoc/
    - export PROTOC="$(realpath ./protoc/bin/protoc)"

  script:
    - pushd api
    - cargo fmt --all -- --check
    - cargo clippy --all-targets --all-features -- -D warnings
    - cargo test --bins


api.integration-test:
  stage: test
  dependencies: []
  image: rust:$RUST_VERSION
  rules:
    - changes:
        - api/**/*
        - Cargo.*
  services:
    - name: postgres:$PG_VERSION
  variables:
    POSTGRES_DB: hook0
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    DATABASE_URL: "postgres://postgres:postgres@postgres:5432/hook0"
  before_script:
    - rustc --version && cargo --version
    - wget -O protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v$PROTOC_VERSION/protoc-$PROTOC_VERSION-linux-x86_64.zip && mkdir protoc && unzip protoc.zip -d protoc/
    - export PROTOC="$(realpath ./protoc/bin/protoc)"
    - cargo install sqlx-cli --no-default-features --features postgres
    - apt-get update && apt-get install -y postgresql-client
    - until pg_isready -h postgres -U postgres; do sleep 1; done
    - sqlx database create || true
    - sqlx migrate run --source api/migrations
  script:
    - pushd api
    - cargo test --test deleted_users_cleanup_test
